<div class="container">
	<h1 style="text-align: center;">{{category.name}}</h1>
	 <!--Bootstrap card looping for every item in that category from database-->
	<div class="row">
		{{#each category.Items}}
			<div class="card col-md-3">
				<img
					style=" width:38vh; height: 35vh;"
					src="{{this.image}}"
					class="card-img-top"
					alt="..."
				/>
				<div class="card-body">
					<h5 class="card-title">{{this.title}}</h5>
					<p class="card-text"><span
							class="collapse"
							id="more{{this.id}}"
						>{{this.description}}</span>
						<span><a
								href="#more{{this.id}}"
								data-toggle="collapse"
							>Read description...
								<i class="fa fa-caret-down"></i></a></span></p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">{{category.name}}</li>
					<li class="list-group-item">£{{this.price}}</li>
					<li class="list-group-item">Select Quantity:
						<input type="number" value="1" min="1" max="999" /></li>
				</ul>

				<div class="card-body">
					<a
						onclick="addToCart({{this.id}})"
						href="#"
						class="card-link"
					><button type="button" class="btn btn-warning">Add to Cart</button></a>
					 <!--Admin buttons to Delete/Update items in category-->
					<div class="adminOnly">
						<a
							href="/item/{{this.id}}/delete"
							class="card-link"
						><button
								type="button"
								class="btn btn-warning"
							>Delete</button></a>

						<a
							href="/item/{{this.id}}/put"
							class="card-link"
						><button
								type="button"
								class="btn btn-warning"
							>Update</button></a>
					</div>
				</div>
			</div>
		{{/each}}
	</div>



    </div>
